@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Header';
  src: url('/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  font-family: 'JetBrains Mono', monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* if you want to space them apart */
}

.image{
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.projectImage{
  width: 400px;
  height: 400px;
  object-fit: contain;
  padding-bottom: 10px;
}

.experienceSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #0b0b31;
}

.experienceSection h1{
  color: #fafbfc;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 3em;
}

.experienceContainer {
  display: flex;
  padding: 20px;
}

.projectSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.projectSection h1 {
  color: #fafbfc;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 3em;
}

.projectEntry{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.projectEntry a {
  padding-bottom: 10px;
}

.projectEntry h2{
  color: #fafbfc;
  text-align: justify;
  font-size: medium;
  padding-bottom: 50px;
}



.projectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.projectContainer h2 {
  text-align: center;
  font-size: 24px;
}


.textContainer {
  /* Add some left margin if you need space between the image and the text */
  margin-left: 20px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  background-color: rgba(11, 11, 49, 0);
  position: fixed;
  width: 100%;
  z-index: 1000;

}

.menu a {
  color: #30D5C8;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
  scroll-behavior: smooth;
}

.containerSection {
  padding: 2em;
}

.containerSection h1, .containerSection h2 {
  color: #fafbfc;
}

.hero {
  background-color: #0b0b31;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  padding-top: 250px;
  padding-bottom: 250px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10em;
}

.jobEntry{
  background-color: #0b0b31;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.jobEntry h2 {
  color: #fafbfc;
}

.jobEntry p {
  color: #fafbfc;
  margin-left: 20px;
}

.skills, .projects, .contact {
  background-color: #0b0b31;
}

.footer {
  background-color: #0b0b31;
  color: #ffffff;
  text-align: center;
  padding: 1em 0;
}

.profile {
  display: flex;
  justify-content: space-between;
}

.profile-content {
  flex: 1;
  padding-right: 20px;
}

.profile-title {
  font-size: 100px;
  margin-bottom: 0.5em;
  color: bisque;
}

.profile-text {
  font-size: 1.2em;
  line-height: 1.5;
}

.profile-image {
  width: 50%;
  height: 50%;
}


